body {
    background-color: lightseagreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:navy;
    text-align: center;
}

#welcome {
   padding: 20px;
   font-size: 50px;
}

#start {
    font-size: 40px;
    padding: 20px;
}

#score {
    font-size:35px;
    display: none;
    padding-top: 20px;;
}


.starter:hover {
    text-shadow: 6px 6px 0 darkgrey;
}

#rules {
    font-size: 25px;
    border: 4px solid rgb(8, 40, 110);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;;
    height: 40%;
    display: inline-block;
}

.dice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    padding: 20px;
}

#one {
    display: none;
}

#two {
    display: none;
}

#three {
    display: none;
}

#four {
    display: none;
}

#five {
    display: none;
}

#six {
    display: none;
}

#win {
    display: none;
}

.btn-style {
    width: 170px;
    font-size: 20px;
    background-color: #0a4125;
    color: white;
    border-radius: 15px;
    align-self: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  
  .btn-style:hover {
    background-color: #05af2a;
    box-shadow: 5px 5px 0 black;
  }